/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* END RESET */

html{
    background-image: linear-gradient(black,whitesmoke);
    display: flex;
}
.body{
    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
}
header{
    color: aliceblue;
    text-align: center;
}
main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}
.row{
    display: flex;
    flex-flow: row nowrap;
}
.button{
    margin: .5rem;
    height: 5rem;
    width: 5rem;
    border-radius:50%;
    border-style: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    display: grid;
    align-items: center;
    align-content: center;
}
.button:hover{
    cursor: pointer;
}
.orange{
    background-color: orange;
    font-size:2rem;
}
.flat_black{
    background-color: #333;
}
.grey{
    background-color: grey;
    color: black;
}
.input{
    height: 5rem;
    width:23rem;
    border-radius: 50px;
    border: none;
    margin-bottom: 20px;
    padding:3px;
    font-size:3.2rem;
    background-color: black;
    color: whitesmoke;
}
